
<!-- contact -->
<div id="contactSection" class="w3-container w3-white w3-margin w3-padding-large">
    <div class="w3-center">
        <h3>contact</h3>
    </div>

    <div class="w3-justify">
        <!-- <img src="./img/sax3.jpg"  style="width:100%" class="w3-padding-16"> -->
        <p><strong>Feel Free to contact me</strong></p>
        <i class="fa fa-map-marker" style="width:30px"></i> Seoul, KOREA<br>
        <!-- <i class="fa fa-phone" style="width:30px"></i> Phone: +82 (0)10-8353-2784<br> -->
        <i class="fa fa-envelope" style="width:30px"> </i> Email: drsax@yonsei.ac.kr<br>
        <!-- <i class="fa fa-envelope" style="width:30px"> </i> Email: drhon9@naver.com<br> -->
    </div>
    <br />
</div>
<hr>
