<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a href="#contentsId" class="w3-bar-item w3-button w3-padding-large">DrHong</a>
        <a href="#bioSection" class="w3-bar-item w3-button w3-padding-large">Bio</a>
        <a href="./page/paper.html" class="w3-bar-item w3-button w3-padding-large" id="tourEvent" target="_blank">Papers</a>
        <a href="./page/works.html?music=1" class="w3-bar-item w3-button w3-padding-large" target="_blank">Works</a>
        <a href="./page/music.html" class="w3-bar-item w3-button w3-padding-large" target="_blank">Album</a>
        <a href="./page/works.html?music=1#book" class="w3-bar-item w3-button w3-padding-large" target="_blank">Books</a>
        <a href="#contactSection" class="w3-bar-item w3-button w3-padding-large">Contact</a>
        <!-- <a href="#cvSection" class="w3-bar-item w3-button w3-padding-large">CV</a> -->
    </div>
</div>

