
<!-- Band -->
<div id="bioSection" class="w3-container w3-white w3-margin w3-padding-large">
    <br />
    <br />
    <div class="w3-center">
        <h3>Biography</h3>
        <h5><span class="w3-opacity">July 2, 2019</span></h5>
    </div>

    <div class="w3-justify line_height_2">
        <img src="./img/bioMain.jpg" alt="bioMain" style="width:100%" class="w3-padding-16">
   
        <p>
            <strong> Euy Shick Hong,</strong> (born 1980, Republic of Korea) is a Computer musician, a Software engineer, Jazz Saxophonist.
            Now he works in IT company as a software engineer(2016 ~) and ICMT(Institute for Computer Music and technology)  playing saxophone with musical works. And he is planning to develop a web application with Javascript, Python, Node.js, etc and web technology.
        </p> 
        <br />
      
        <p>               
            <img src="./img/delta.jpg" class="img_center" style="width:70%">  
            <img src="./img/saxplay.jpg" class="img_center" style="width:95%">  
            In 2002, He performed in  ROKA BAND with guitar, saxophone and participated
            2002 Korea-Japan World cup and 2002 Busan Asian Game.

            In 2004, He studied Jazz Saxophone at Delta Community Music School in Canada and 
            led  Hong euy shick  Jazz quartet that had lots of Jazz works such as club, concert, Jazz festival, album.
        </p>
        <p> 
            <img src="./img/reso.jpg" class="img_center" style="width:80%">
            In 2009, He attended <a href="http://marte.dongguk.edu" target="_blink">MARTE  [4]</a> at Dongguk University and studied  computer music, Interactive performance, sound synthesis with a saxophone.
            Also, he joined  <a href="https://www.youtube.com/watch?v=b3RpjOUMdwg" target="_blink">resonation [5][video] </a> and won a silver prize in The 10th, Computer music and sound competition 2009. Furthermore, he released first album "Dr.Hong" that is jazz, blues Music        
             <a href="./page/music.html" target="_blank">[album]</a>.
            In 2010, He released album "Do you like apple?" <a href="./page/music.html" target="_blank">[album]</a> and played a"spirit" that is  interactive perform with Max/MSP, Quartz Composer <a href="https://youtu.be/vKvjo14Tm-U" target="_blink">[8][video]</a>.
            <img src="./img/spirit.jpg" class="img_center" style="width:90%">
        </p>
        <p> 
            In 2011, He gets M.M(Master of Music in Computer Music)[8] in MARTE and  performed  <a href="https://youtu.be/CV3jnZFA5Xg" target="_blink"> "Endure"</a>.
             Also, he released 3 albums that "butter fry", "blue garlic", "Interaktive" <a href="./page/music.html" target="_blank">[album]</a>.
            He interviewed aliceon media art channel <a href="https://aliceon.tistory.com/1712" target="_blank">[article]</a>.
            <img src="./img/bgarlic.jpg" class="img_center" style="width:60%"> 
        </p>

        <p>  
            <img src="./img/tps.jpg" class="img_center" style="width:60%"> 
            In 2012, He played <a href="https://youtu.be/ihuPaJMJLsc" target="_blink">"Arirang" [video]  </a> that is interactive performance by Tae Pyoung So as traditional instrument in Korea and was invitied radio show and played saxophone and interviewed.
            <img src="./img/radio.jpg" class="img_center" style="width:60%"> 
        </p>
        <p> 
            In 2014, He released "Arirang" <a href="./page/music.html" target="_blank">[album]</a>
            and papers that "A study on timbre analysis of saxophone sound by different mouthpieces" <a href="./page/paper.html#timbre" target="_blink">[18]</a>.
        </p>
        <p> 
            <img src="./img/rc.jpg" class="img_center" style="width:80%">
            In 2015, He released "Arirang second story", "Forest of owl" <a href="./page/music.html" target="_blank">[album]</a> and book of
            Saxophone Method of Miracle <a href="./page/works.html#book" target="_blank">[20]</a>.
            Also, he released "A study on timbre analysis of saxophone sound by different reeds"<a href="./page/paper.html#reed" target="_blink">[22]</a>.
            He performs "arirang second story" with Dr.Saxohone <a href="https://youtu.be/do_yuLdVTCo" target="_blink">[video]</a>.
            Also, he studied a physical computing and made "RC CAR".
            <img src="./img/drs.jpg" class="img_center" style="width:80%">
        </p>
        <p> 
            In 2016, He published "Physical Computing with Arduino" <a href="./page/works.html#book" target="_blank">[26]</a>
            also he works "Dr.Saxophone : Hybrid saxophone interface"
            <a href="./page/paper.html#drsax1" target="_blink">[28]</a> and  "A study on sound analysis and saxophone technique in Claudio Gabriele’s [ARRIFLEX 35]"<a href="./page/paper.html#arr" target="_blink">[30]</a>.

            <img src="./img/mn.jpg" class="img_center" style="width:100%">
            He developed "play the light of monet" and exhibited  it is Interactive Web Audio/Visual Networking System.<a href="./page/works.html#monet" target="_blank">[32]</a><a href="https://youtu.be/uZLOY8onwz4" target="_blink">[video] </a>.

            Also, he performs "White Night"<a href="https://player.vimeo.com/video/198987449" target="_blink">[video] </a> with
            <a href="./page/works.html#drsaxophone" target="_blank">Dr.Saxohone II</a> and <a href="./page/works.html#web_inter" target="_blank">DrSaxoman [34]</a> that web audio application.
            Since now, he works IT COMPANY WEB TECHNOLOGY such as Javascript, Node.js, React.js
            <img src="./img/dsm.jpg" class="img_center" style="width:70%">

        </p>
        <p> 
            <img src="./img/cp2017.jpg" class="img_center" style="width:70%">
            In 2017, He studied <a href="./page/works.html#2017" target="_blank">"composition 2017"[36]</a> <a href="https://vimeo.com/223936815" target="_blink">[video] </a> that interactive media installation works.
            Also, he released "Play the light of Monet : Interactive web audio/visual networking system"<a href="./page/paper.html#monet" target="_blink">[40]</a>,

            <a href="./page/works.html#web_0" target="_blink"><img src="./img/drsaxjs.jpg" class="img_center" style="width:50%"></a>
            "Drsax.js: a javascript based unified web audio library and framework"<a href="./page/paper.html#drsax" target="_blink">[42]</a>, 
            <a href="./page/works.html#drsaxophone" target="_blink">"Telesaxophone: hybrid Saxophone interface"</a> <a href="./page/paper.html#tele" target="_blink">[44]</a>, 
            "Webxophone: web audio wind instrument"<a href="./page/paper.html#webxo" target="_blink">[46]</a>.  
            Also, he released "Interactive Web Audio Networking System and Method with DrSax.js" <a href="./page/paper.html#ds2" target="_blink">[47]</a>.
            <img src="./img/teles.jpg" class="img_center" style="width:70%">
            <img src="./img/wx.jpg" class="img_center" style="width:90%">
        </p>
        <p>
            In 2018, He released  "A Study of Hybrid Saxophone Interface for Interactive Networking System" <a href="./page/paper.html#drsax2" target="_blink">[48]</a>.

            In 2019, He completed doctoral dissertation "A study of Interactive Web Application through Web-based Audio Library Development" <a href="./page/paper.html#DoctoralDissertation" target="_blink">[50] </a> with created web applications such as <a href="./page/works.html#web_0" target="_blink">DrSax.js</a>, <a href="./page/works.html#editor" target="_blink">DrEditor</a>, <a href="./page/works.html#web_inter" target="_blink">DrWebSax</a>, <a href="./page/works.html#2017" target="_blink"> Composition 2017</a>.
            <img src="./img/dr2.jpg" class="img_center" style="width:80%">
            <img src="./img/wa.jpg" class="img_center" style="width:80%">
            <img src="./img/mix.jpg" class="img_center" style="width:80%">
            Now He works in ICMT(Institute for Computer Music and Technology) and IT company as a software engineer playing saxophone with musical works.
            and He is planning to develop a web application with Javascript, Python, Node.js, etc and web technology.
        </p>
        <hr />
        <div>
            <div>
                <a class="w3-block" href="http://marte.dongguk.edu" target="_blink">
                    [4] MARTE(The Laboratory of Musical Arts and Technology) in Dongguk University.
                </a>
                <a class="w3-block" href="https://www.youtube.com/watch?v=b3RpjOUMdwg" target="_blink">
                    [5] Resonation : telematic interactive networking concert at San Diego and New York in USA, Banff and Alberta in CANADA, Belfast and Northern Ireland in UK.
                </a>
                <a class="w3-block" href="https://youtu.be/vKvjo14Tm-U" target="_blink">
                    [8] SPIRIT : is a interactive multimedia music composition using a saxophone, sound effects and real-time processed visual image. 
                </a>
                <a  href="./page/paper.html#masterThesis" target="_blink">
                    Master Thesis.
                </a>.
                <a  class="w3-block" href="./page/paper.html#timbre" target="_blink">
                    [18] "A study on timbre analysis of saxophone sound by different mouthpieces" <br />
                    (Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2014) 
                </a>
                <a class="w3-block" href="./page/works.html#book" target="_blank">
                    [20] Saxophone Method of Miracle(ISBN:312-4324-431-234 ,Realise media, 2015)
                </a>
                <a href="./page/paper.html#reed" target="_blink">
                    [22] "A study on timbre analysis of saxophone sound by different reeds"(Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2015)
                </a>
                <a class="w3-block" href="./page/works.html#book" target="_blank">
                    [26] "Physical Computing with Arduino"(ISBN:312-4324-431-234 , Realise media, 2016)
                </a>
                <a  class="w3-block" href="./page/paper.html#drsax1" target="_blink">
                    [28] "Dr.Saxophone : Hybrid saxophone interface" <br />
                    (Euy shick Hong, Baron Kim, Kiyeor Han, The 3rd International Conference on Systems and Informatics 2016(SCOPUS))
                </a>
                <a  class="w3-block" href="./page/paper.html#arr" target="_blink">
                    [30] "A study on sound analysis and saxophone technique in Claudio Gabriele’s [ARRIFLEX 35]" <br />
                    (Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2016)
                </a>
                <a class="w3-block" href="./page/works.html#monet" target="_blank">
                    [32] "play the light of monet" : Intereactive web audio/visual networking system <br />
                    Javascript, Web Audio API, Node.js 
                </a>
                <a class="w3-block" href="./page/works.html#web_inter" target="_blank">
                    [34] DrSaxoman : Intereactive web audio application <br />
                    Javascript, Web Audio API, Node.js 
                </a>
                <a class="w3-block" href="./page/works.html#2017" target="_blank">
                    [36] "composition 2017"  : Intereactive Media installation <br />
                    Javascript, DrSax.js, Node.js 
                </a>
                <a class="w3-block" href="./page/paper.html#monet" target="_blink">
                    [40] "Play the light of Monet : Interactive web audio/visual networking system" <br />
                    (Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2017)
                </a> 
                <a class="w3-block" href="./page/paper.html#drsax" target="_blink">
                    [42] "Drsax.js: a javascript based unified web audio library and framework" <br />
                    (Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS))
                </a>
                <a class="w3-block" href="./page/paper.html#tele" target="_blink">
                    [44] "Telesaxophone: hybrid Saxophone interface" <br />
                    (Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS))
                </a>
                <a class="w3-block" href="./page/paper.html#webxo" target="_blink">
                    [46] "Webxophone: web audio wind instrument" <br /> 
                    (Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS))
                </a>
                <a class="w3-block" href="./page/paper.html#dr2" target="_blink">
                    [47] "Interactive Web Audio Networking System and Method with DrSax.js" <br />
                    (Euy shick Hong, Jun Kim, the 3rd International Conference on Communication and Information 2017 Tokyo uni. (SCOPUS))
                </a>
                <a class="w3-block" href="./page/paper.html#drsax2" target="_blink">
                    [48] "A Study of Hybrid Saxophone Interface for Interactive Networking System" <br />
                    (Euy shick Hong, Jun Kim, Asia-pacific Journal of Multimedia services convergent with Art,and Humanities Sociology 2018 (KCI)).
                </a>
                <a class="w3-block" href="./page/paper.html#DoctoralDissertation" target="_blink">
                    [50] "A study of Interactive Web Application through Web-based Audio Library Development"(Doctoral Dissertation, 2019) )
                    Drsx,js, DrEditor, DrWebSAX, composition 2017
                </a>
            </div>
 
        </div>
    
    </div>
</div>
<hr>

