
<!-- CV -->
<div id="cvSection" class="w3-container w3-white w3-margin w3-padding-large">
    <br />
    <br />
    <div class="w3-center">
        <h3>CV</h3>
    </div>

    <div class="w3-justify">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vQ_E5ZvNUhGJo6x-TAGT_hrLokV1dKZgsUjgdFuJErFTrBdcdZj7JbSd7w43c3vFOZFSdSUuEb3pITB/pub?embedded=true" frameborder="0" width="100%" height="2009" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</div>
<hr>
