
<!-- Main -->
<div class="w3-container w3-white w3-margin w3-padding-large">
    <br />
    <div class="w3-center">
        <h3>Who is DrHong ?</h3>
        <h5><span class="w3-opacity">Aug 2, 2019</span></h5>
        <div class="w3-padding-8">Today is <span id="getCount"></span></div>
    </div>

    <div class="w3-justify">
        <img src="./img/webp.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
        <p><b>Euy Shick Hong(DrHong),</b> (born 1980, Republic of Korea) is a computer musician, software engineer, Jazz Saxophonist.
            He completed a D.M.A (Doctor of Musical Arts) in Computer Music at MARTE(The Laboratory of Musical Arts and Technology) in Dongguk University.
        </p>
        <P>
            The doctoral dissertation is "A study of Interactive Web Application through Web-based Audio Library Development" by Web technology such as Javascript, Web Audio API, Node.js in 2019.
        </P>
        <p>
            In MARTE, he studied sound synthesis, sound analysis, interactive performance, HCI, physical computing with Arduino, programming and published  papers, books while playing the saxophone for concerts and albums.
        </p>
        <P>
            Now He works as a software engineer in IT company (Javascript, MySQL, React, Node.js..), and CTO at ICMT(institute of computer music and technology).
        </P>
        <a href="#bioSection" class="w3-bar-item"><b>Click!.... More Detail Biography</b></a>
        <hr />
        <div id="edu-section">
            <h3>Education</h3>
            <ul>
                <li>
                    <span><b>Dongguk University, D.M.A in Computer Music</b> 2019</span>
                    <div class="px_11">MARTE(The Laboratory of Musical Arts and Technology)</div>
                </li>
                <li>
                    <span><b>Yonsei University, Master in Computer Engineering Candidate  </b></span>
                    <div class="px_11">Graduate School of Engineering, Computer Engineering</div>
                </li>
                <li>
                    <span><b>Dongguk University, M.M in Computer Music </b> 2011</span>
                    <div class="px_11">MARTE(The Laboratory of Musical Arts and Technology)</div>
                </li>
                <li>
                    <span><b>Deltal Community Music School </b> 2004</span>
                    <div class="px_11">Jazz Saxophone</div>
                </li>
            </ul>
        </div>
        <div id="papers-section">
            <h3>Papers</h3>
            <ul>
                <li>
                    <span><b>"A study of Interactive Web Application through Web-based Audio Library Development"</b></span>
                    <div class="px_11">Doctoral Dissertation, 2019</div>
                </li>
                <li>
                    <span><b>"Audio-visual performance by real-time timbre analyze of saxophone" </b></span>
                    <div class="px_11">Master Thesis, 2011</div>
                </li>
                <li>
                    <span><b>"DrWebusic : Real-time Interactive Audio System on the Web"</b></span>
                    <div class="px_11">Euy shick Hong, Journal of Digital Contents Society 2019 (KCI)</div>
                </li>
                <li>
                    <span><b>"A Study of Hybrid Saxophone Interface for Interactive Networking System"</b></span>
                    <div class="px_11">Euy shick Hong, Jun Kim, Asia-pacific Journal of Multimedia services convergent with Art,and Humanities Sociology 2018 (KCI)</div>
                </li>
                <li>
                    <span><b>"Interactive Web Audio Networking System and Method with DrSax.js"</b></span>
                    <div class="px_11">Euy shick Hong, Jun Kim, the 3rd International Conference on Communication and Information 2017 Tokyo uni. (SCOPUS)</div>
                </li>
                <li>
                    <span><b>"Play the light of Monet : Interactive web audio/visual networking system"</b></span>
                    <div class="px_11">Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2017</div>
                </li>
                <li>
                    <span><b>"Drsax.js: a javascript based unified web audio library and framework"</b></span>
                    <div class="px_11">Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS)</div>
                </li>
                <li>
                    <span><b>"Telesaxophone: hybrid Saxophone interface"</b></span>
                    <div class="px_11">Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS)</div>
                </li>
                <li>
                    <span><b>"Webxophone: web audio wind instrument"</b></span>
                    <div class="px_11">Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS)</div>
                </li>
                <li>
                    <span><b>"Dr.Saxophone : Hybrid saxophone interface"</b></span>
                    <div class="px_11">Euy shick Hong, Baron Kim, Kiyeor Han, The 3rd International Conference on Systems and Informatics 2016(SCOPUS)</div>
                </li>
                <li>
                    <span><b>"A study on sound analysis and saxophone technique in Claudio Gabriele’s [ARRIFLEX 35]"</b></span>
                    <div class="px_11">Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2016</div>
                </li>
                <li>
                    <span><b>"A study on timbre analysis of saxophone sound by different reeds"</b></span>
                    <div class="px_11">Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2015</div>
                </li>
                <li>
                    <span><b>"A study on timbre analysis of saxophone sound by different mouthpieces"</b></span>
                    <div class="px_11">Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2014</div>
                </li>
            </ul>
        </div>
        <div id="books-section">
            <h3>Published Books </h3>
            <ul>
                <li>
                    <span><b>Physical Computing with Arduino</b> 2016</span>
                    <div class="px_11">Euyshick Hong, ISBN:312-4324-431-234 , Realise media.</div>
                </li>
                <li>
                    <span><b>Saxophone Method of Miracle </b> 2015</span>
                    <div class="px_11">Euyshick Hong, ISBN:312-4324-431-234 , Realise media</div>
                </li>
            </ul>
        </div>
        <div id="album-section">
                <h3>Album</h3>
                <ul>
                    <li>
                        <span><b>"Dr.Hong"</b> 2009</span>
                    </li>
                    <li>
                        <span><b>"Do you like apple?"</b> 2010</span>
                    </li>
                    <li>
                        <span><b>"butter fry"</b> 2011</span>
                    </li>
                    <li>
                        <span><b>"blue garlic"</b> 2011</span>
                    </li>
                    <li>
                        <span><b>"Interaktive"</b> 2011</span>
                    </li>
                    <li>
                        <span><b>"Arirang"</b> 2014</span>
                    </li>
                    <li>
                        <span><b>"Arirang second story"</b> 2015</span>
                    </li>
                    <li>
                        <span><b>"Forest of owl"</b> 2015</span>
                    </li>
                </ul>
            </div>
        <div id="awards-section">
            <h3>Awards </h3>
            <ul>
                <li>
                    <span><b>The 10th, Computer music and sound competition</b> 2009</span>
                    <div class="px_11">silver prize, Ulsan university.</div>
                </li>
            </ul>
        </div>
        <div id="interactive-section">
            <h3>Interactive performance</h3>
            <ul>
                <li>
                    <span><b>Resonation</b> 2009</span>
                </li> 
                <li>
                    <span><b>"Spirit"</b> 2010</span>
                </li> 
                <li>
                    <span><b>"Endure"</b> 2011</span>
                </li> 
                <li>
                    <span><b>"Arirang"</b> 2012</span>
                </li> 
                <li>
                    <span><b>"Arirang second story"</b> 2015</span>
                </li> 
                <li>
                    <span><b>"White Night"</b> 2016</span>
                </li>
                <li>
                    ... more
                </li>
            </ul>
        </div>
        <div id="interactive-section">
                <h3>Media Installation</h3>
                <ul>
                    <li>
                        <span><b>"play the light of monet"</b> 2016</span>
                    </li>
                     <li>
                        <span><b>"Composition 2017"</b> 2017</span>
                    </li>
                </ul>
            </div>
        <div id="concert-section">
            <h3>Concert</h3>
            <ul>
                <li>
                    <span><b>2002 Korea-Japan World Cup</b> 2002</span>
                </li>
                <li>
                    <span><b>2002 Busan Asian Game</b> 2002</span>
                </li>
                <li>
                    <span><b>Korea pops Orchestra </b> 2007</span>
                </li>
                <li>
                    <span><b>Intenational Jazz Jarasum Festival </b> 2009, 2010</span>
                </li>
                <li>
                    <span><b>Gugak Broadcasting-Arirang </b> 2014</span>
                </li>
                <li>
                    <span><b>Various Jazz Club..   </b></span>
                </li>
             
                <li>
                    ... more
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
