

<!-- About/Information menu -->
<div id="rightNavi" class="w3-col l3">
    <!-- About Card -->
    <div class="w3-white w3-margin ">
        <img src="./img/sax3.jpg" alt="saxe" style="width:100%" class="w3-grayscale">
        <div class="w3-container w3-black w3-padding">
        <o style="font-family:Segoe UI,Arial,sans-serif;">
            <li>- D.M.A(Doctor of Musical Arts) in Computer Music </li>
            <li>- ICMT CTO </li>
            <li>- Software engineer</li>
            <li>- Saxophonist</li>
        </o>
        </div>
    </div>
    <!-- works -->
    <div class="w3-white w3-margin w3-small">
        <div class="w3-container w3-black">
        <h5>Works Area</h5>
        </div>
        <div class="w3-container w3-white">
        <p>
                <span class="w3-tag w3-black d8-margin-bottom">Interactive Web Application</span> <span class="w3-tag w3-black d8-margin-bottom">Web Technology</span> <span class="w3-tag w3-black d8-margin-bottom">Saxophone</span> <span class="w3-tag w3-black d8-margin-bottom">Computer Music</span> <span class="w3-tag w3-black d8-margin-bottom">Media art</span> <span class="w3-tag w3-black d8-margin-bottom">Interactive Performance</span> <span class="w3-tag w3-black d8-margin-bottom">HCI</span> <span class="w3-tag w3-black d8-margin-bottom">Artificial Intelligent</span> <span class="w3-tag w3-black d8-margin-bottom">Physical Computing</span> <span class="w3-tag w3-black d8-margin-bottom">Sound Systhesis</span>
        </p>
        </div>
    </div>
    <div class="w3-white w3-margin">
        <div class="w3-container w3-black">
        <h5>Follow Me</h5>
        </div>
        <div class="w3-container w3-padding">
            <i class="fa fa-map-marker" style="width:30px"></i> Seoul, KOREA<br>
            <!-- <i class="fa fa-phone" style="width:30px"></i> Phone: +82 (0)10-8353-2784<br> -->
            <i class="fa fa-envelope" style="width:30px"> </i> Email: drsax@yonsei.ac.kr<br>
            <!-- <i class="fa fa-envelope" style="width:30px"> </i> Email: drhon9@naver.com<br>
        </div> -->
    </div>
    
<!-- END About/Intro Menu -->
</div>

